USE [master]
GO
/****** Object:  Database [PL]    Script Date: 2015-07-08 01:04:26 ******/
CREATE DATABASE [PL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PL', FILENAME = N'E:\SQL\MSSQL12.SQLEXPRESS\MSSQL\DATA\PL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PL_log', FILENAME = N'E:\SQL\MSSQL12.SQLEXPRESS\MSSQL\DATA\PL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PL]
GO
/****** Object:  Table [dbo].[Captain]    Script Date: 2015-07-08 01:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Captain](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NULL,
	[PositionID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 2015-07-08 01:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AutorID] [int] NOT NULL,
	[DateAdd] [date] NULL,
	[DateEdit] [date] NULL,
	[TypeRecipient] [int] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Txt] [nvarchar](max) NULL,
	[TxtShort] [nvarchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Players]    Script Date: 2015-07-08 01:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NOT NULL,
	[PositionID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suffix]    Script Date: 2015-07-08 01:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suffix](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Suffix] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Patch] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2015-07-08 01:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](100) NOT NULL,
	[Email] [nchar](100) NOT NULL,
	[Pass] [nvarchar](256) NOT NULL,
	[Type] [int] NULL,
	[ID2] [int] NULL,
	[info] [nvarchar](max) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
